<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link rel="icon" href="assets/imgs/favicon.ico" type="image/x-icon"> --}}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/news.js"></script>
    <!-- import fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Titillium+Web" rel="stylesheet">
    <!-- import css -->
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Art News Scraper</title>
</head>

<body>
	<div class="container-fluid">

		{{!-- <div class="row">
			<img src="assets/imgs/edb_logo.png" id="logo" alt="Eat da Burger Logo"/>
		</div> --}}

		{{{ body }}}


		{{!-- <div class="row">
			<img src="assets/imgs/burger_crop.png" id="burger-img" alt="burger image"/>
		</div> --}}


	</div>

	</div>
</body>

</html>